html{
	min-height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
	background-color: #dddce3;
}
#main {
  width: 100%;
  height: 100%;
}
main{
		width: 100%;
	height: 80%;
}
.mr-2{
font-size: 24px;	
font-weight: 700;
}


