

.distance-button{
 background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
   font-size: 20px;
  color: inherit;
  cursor: pointer;
  width:200px;
  text-align: center;
}

.category-button{
 background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: inherit;
  cursor: pointer;
  width:200px;
  text-align: center;
}

.address-button{
 background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: inherit;
  cursor: pointer;
  width:200px;
  text-align: center;
}

.station-button {
 background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: inherit;
  cursor: pointer;
  width:200px;
  text-align: center;
}

.dropdown-menu {
	width:200px;
	position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;
  background-color: black;
  border: 1px solid #ccc;
  padding: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.dropdown-menu li {
  cursor: pointer;
  padding: 5px;
  text-align: center;
}

.dropdown-menu li:hover {
  background-color: #f2f2f2;
}
