html{
	width: 100%;
	height:100%;
}

body {
		width: 100%;
	height:100%;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

div#station-search{
	width: 90%;
	height: 550px;
    margin: 5% 5% 5% 5%;
    background-color: rgba(221, 220, 227, 0.8);
    padding: 0 20px 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



#station-search h2 {
  margin-bottom: 10px;
}

#station-search form {
  margin: 0 auto;
  padding: 20px ;
  
  
}

#station-search select {
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#station-search button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#station-search button:hover {
  background-color: #555;
}
