<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Home Build Guide</title>
	<!-- modelで名前(name)緯度(longitude),経度(latitude)を渡してください -->
</head>

<body>
	<header>
		<div id=pagetop>
		<page-top-vue></page-top-vue>
		</div>
	</header>
	
	<hr class="tophr">
	<hr class="underhr">
	<main>
		<div id="menu">
			<tab-menu-vue></tab-menu-vue>
		</div>

		<div id="map-style">
			<div id="map"></div>
			<map-create-vue></map-create-vue>
		</div>
		
		<div id="option-style">
			<tag-create-vue></tag-create-vue>
			<div class="tab_wrap">
				<tab-view-vue @custom-event="handleCustomEvent"></tab-view-vue>
			</div>
		</div>
	</main>

	<footer>
		<div id=pageend>
			<page-end-vue></page-end-vue>
		</div>
		<form>
			<input type="hidden" id="longitudeInput" th:value="${mapInfo.longitude}">
			<input type="hidden" id="latitudeInput" th:value="${mapInfo.latitude}">
		</form>
	</footer>
</body>
<script src="https://maps.google.com/maps/api/js?pass&language=ja&libraries=places"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.min.js"></script>
<script src="https://unpkg.com/vuex@4"></script>
<script src="/js/vuex/googlemapStore.js"></script>
<script src="/js/vue/createMap.vue"></script>
<script src="/js/vue/mapOperateMenu.vue"></script>
<script src="/js/vue/template.vue"></script>
<script src="/js/vue/viewInfomation.vue"></script>
<script src="/js/vue/menuTab.vue"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<link rel="stylesheet" th:href="@{/css/map.css}" />
<link rel="stylesheet" th:href="@{/css/header.css}" />
<link rel="stylesheet" th:href="@{/css/checkbox.css}" />
<link rel="stylesheet" th:href="@{/css/tab.css}" />
<input type="hidden" id="id" th:value="${id}">
<input type="hidden" id="infomationType" th:value="${infomationType}">

</html>