<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>家を建てる際の情報サイト</title>
  </head>
  <body>
<header>
		<div id=pagetop>
		<page-top-vue></page-top-vue>
		</div>
	</header>
		<hr class="tophr">
	<hr class="underhr">
    <main >
		<div id="station-search">
    <form th:action="@{/map/}" method="post">
      <h2>沿線情報</h2>
      <select id="railway-lines" name="railwayLines">
        <option
          th:each="railwayLine : ${railwayLineList}"
          th:value="${railwayLine.id}"
          th:text="${railwayLine.lineName}"
        >
          - 沿線が表示されます -
        </option></select
      ><br />
      <h2>駅情報</h2>
      <select id="stations" name="id">
        <option value="">- 上記の沿線を選択してください -</option>
        <option
          th:each="station : ${stationList}"
          th:value="${station.id}"
          th:text="${station.lineName}"
        >
          - 沿線が表示されます -
        </option></select
      ><br />
      <input type="hidden" value="station" name="infomationType" />
      <button type="submit" id="button">駅情報送信</button>
    </form>
    </div>
    </main>
    <footer style="	position: fixed;">
		<div id=pageend>
			<page-end-vue></page-end-vue>
		</div>
	</footer>
  </body>
  	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.min.js"></script>
	<script src="https://unpkg.com/vuex@4"></script>
<script src="/js/vue/template.vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="/js/allpage.js"></script>
    <script src="/js/selector.js"></script>
    <script th:src="@{/js/stationAPI.js}"></script>  
  	<link rel="stylesheet" th:href="@{/css/header.css}" />
  	    <link rel="stylesheet" th:href="@{/css/station-search.css}" />
</html>
